# Eclipse - you still can reinport source code to Eclipse later
.classpath
.externalToolBuilders
.project
build.xml

# Intellij - you still can reinport source code to Intellij later
.idea/
*.iml

# Temp file/folder
build
out/
bin
.*

# Gradle
.gradle
gradle
gradlew
gradlew.bat
# keep this for rebuild by gradle
!build.gradle
!settings.gradle
